html, body{
  height: 100%;
  background-color: white;
  margin: auto;

}
body {
  display: flex;
  flex-direction: column;
  background-color: (33,111,237);
  margin: 0;
}
.name {
  background-color: white;
  text-align: center;
  font-family: "molle",cursive;

}




.nav-item{
background-color: rgb(2, 219, 212);
font-size: 2.8em;
padding: 10;
list-style-type:none;
margin: 0;
padding: 0;
float: center;
overflow: hidden;
text-align: center;
font-family: 'Montserrat', sans-serif;

}
.home-nav {
  list-style-type: none;
  margin:0;
  padding: 15px;
  display: block;
  width: 60px;
  display: inline;
  font-size: 0.9em;
  border-style:none;
  color: rgb(214, 67, 216);
}

a {
  text-decoration: none;
  color: rgb(154, 17, 175);
}



.page-head {
  background:white;
  text-align: center;
  font-family: fantasy;
  text-transform: capitalize;
  font-size: 3.7em;
}






.bio-data {
  text-align: right;
  list-style-type: none;
  font-size: 1.4em;

}

.main-image {

  display: flex;
  position: fixed;;
  float: right;
}

.contact-info {
  list-style-type: none;
}
